 body {
     background-image: url(bgg.jpg);
 } 



 h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: large;
 }




 .img {

    size: 90cm;
 }
  